* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--main-color: #161614;
	--main-lighter: #433b34;
	--main-darker: #121210;
	--main-darkest: #0d0d0d;
	--cta-color: #d7711d;
	--cta-darker: #b05a13;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
	font-size: 62.5%;
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--main-lighter);
		border-radius: 100vw;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--cta-color);
	}
	&::-webkit-scrollbar-track {
		background-color: var(--main-darker);
	}
}
body {
	background-color: var(--main-color);
	color: #fff;
}
main {
	min-height: 92vh;
	padding: 0;
}
