* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
	font-size: 62.5%;
}

:root {
	--main-color: #161614;
	--main-lighter: #433b34;
	--main-darker: #121210;
	--main-darkest: #0d0d0d;
	--cta-color: #d7711d;
	--cta-darker: #b05a13;
}

body {
	background-color: var(--main-color);
}
