.footer {
	background-color: var(--main-darkest);
	padding: 3rem 0;
	display: flex;
	justify-content: center;
	height: 8vh;
	align-items: center;
	margin-top: auto;
	p {
		a {
			text-decoration: none;
			color: #fff;
		}
	}
}

@media (min-width: 768px) {
	.footer {
		p {
			font-size: 1.4rem;
		}
	}
}
