.box {
	margin: 4rem 0;
	.pros {
		padding: 1rem;
		margin: 4rem 0;
		text-align: left;
		color: #fff;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		.text {
			margin-left: 1em;
			strong {
				font-size: 1.8rem;
			}
			p {
				max-width: 250px;
				margin-top: 1em;
				font-size: 1.1rem;
				color: rgba(255, 255, 255, 0.8);
			}
		}
	}

	@media (min-width: 576px) {
		.pros {
			.text {
				strong {
					font-size: 2rem;
				}
				p {
					max-width: 300px;
					font-size: 1.4rem;
				}
			}
		}
	}
	@media (min-width: 992px) {
		.pros {
			.text {
				margin-left: 2em;

				strong {
					font-size: 2.6rem;
				}
				p {
					font-size: 1.6rem;
				}
			}
		}
	}
}
